name: Build Flutter Android APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '11'
      
      # (可选) 在这里可以保留 ls -R 来检查文件结构
      - name: List files in the repository
        run: ls -R

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install dependencies
        # 告诉 flutter 命令去 'pumpkin-todo' 文件夹里工作
        run: flutter pub get
        working-directory: ./pumpkin-todo

      - name: Build APK
        # 同样，告诉 flutter 命令去 'pumpkin-todo' 文件夹里工作
        run: flutter build apk --release
        working-directory: ./pumpkin-todo

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: release-apk
          # 路径也需要加上子文件夹前缀
          path: pumpkin-todo/build/app/outputs/flutter-apk/app-release.apk
